name: Firmware Build Status

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-stm32f103c8:
    uses: libhal/ci/.github/workflows/app_builder2.yml@5.x.y
    with:
      compiler_profile: hal/tc/arm-gcc
      platform_profile: hal/mcu/stm32f103c8
      dir: adapter-firmware
    secrets: inherit
